html {
  font-family: 'Josefin Sans', sans-serif;
}

.headerimage {
  max-width: 150px;
  width:120px;
  height: 100px;
  max-height: 150px;
  object-position: top;
  padding: 50px;
}

.p3image {
  width: 20px;
  height:10px;
  resize: auto;
  object-position: bottom;
  padding: 10px;
}

h2, p {
  color: slategrey;
  padding: 20px;
}
