html {
  font-family: 'Josefin Sans', sans-serif;
}

#headerimage {
  align-content: center;
  box-sizing: border-box;
  width:100%;
  height: 100%;
  object position: top;
}

#p3image {
  align-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  object position: bottom;
}

head, h2, p {
  align-content: center;
  color: seagreen;
  padding: 15px;
}
