html {
  font-family: 'Josefin Sans', sans-serif;
}

#headerimage {
  box-sizing: border-box;
  width:100%;
  height: 100%;
  object position: top;
}

#p3image {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  object position: bottom;
}

h2, p {
  color: seagreen;
  padding: 15px;
}
